* {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #13131c;
  background-image: url('images/paisagem.jpg');
  background-size: cover;
}

header {
  align-items: center;
  background-color: #23232e;
  color: #fff;
  display: flex;
  height: 10vh;
  justify-content: center;
  letter-spacing: 3px;
}

main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-evenly;
  text-align: center;
}

#inputs {
  margin: 10px auto 0;
  width: 205px;
}

#board-size {
  border: 5px solid #23232e;
  border-radius: 15px;
  color: #23232e;
  font-size: 20px;
  height: 35px;
  text-align: center;
  width: 95%;
}

#buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.buttons {
  border: 0;
  border-radius: 50px;
  color: #23232e;
  font-size: 20px;
  padding: 10px 0;
  transition: 0.8s;
  width: 45%;
}

.buttons:hover {
  cursor: pointer;
  opacity: 0.5;
}

#generate-board {
  background-color: #1DB954;
}

#clear-board {
  background-color: #b91d1d;
}

#color-palette {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  margin: 10px auto 0;
  width: 205px;
}

.color {
  border: 1px solid #23232e;
  height: 40px;
  transition: 0.3s;
  width: 40px;
}

.color:hover {
  cursor: pointer;
  height: 45px;
  width: 45px;
}

.selected {
  height: 45px;
  width: 45px;
}

#pixel-board {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  margin-left: -1px;
  margin-top: -5px;
  width: 40px;
}